<h3>Componente: introduccion-directivas.component</h3>
<h4>Hello World: ngIf!</h4>

<button type="button" (click)="onEditClick()">Make text editable!</button>

<!--*ngIf es una directiva que, en este caso, se aplica al Div-->
<div *ngIf="canEdit; else noEdit">
  <p>You can edit the following paragraph.</p>
</div>
<!--Plantilla de referencia con la que se reemplazará el div anterior-->
<ng-template #noEdit>
  <div>
    <p>The following paragraph is read only. Try clicking the button!</p>
  </div>
</ng-template>

<p [contentEditable]="canEdit">{{ message }}</p>
