<h1>Hola</h1>
<div class="container">
  <div class="column">
    <div class="little-margin">
      <app-primera-prueba></app-primera-prueba>
    </div>
    <div class="little-margin">
      <h3>Componentes: product-list.component, porduct-alert.component</h3>
      <p>Primer acercamiento con la navegación.</p>
      <p>
        Esta sección sirve para verificar y comprobar el como pasar información entre
        componentes padres e hijos también
      </p>
      <a href="/ecommerce"><button>Página de Ecomerce</button></a>
    </div>
  </div>
  <div class="column">
    <div class="little-margin">
      <app-introduccion-directivas></app-introduccion-directivas>
    </div>
  </div>
  <div class="column">
    <div class="little-margin">
      <app-dependency-injection-loger></app-dependency-injection-loger>
    </div>
  </div>
</div>